<h1>ゲーム一覧</h1>
<p>レビューを投稿するにはゲーム選択後<strong>プレイしたいゲームに登録</strong>してからできます</p>

<% @games.each do |game| %>
<%= game.game_title %>
<!--amazonのAPIをいれて画像表示させたい>
<%= game.game_model %>
<%= game.review_count %>

<% end %>



