<div class="container">
  <div class="row">
    <div class=title>
      <h3>ゲーム一覧</h3>
    </div>
  </div>
    <p>レビューを投稿するにはゲーム選択後<strong>プレイしたいゲームに登録</strong>してからできます</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ゲーム名</th>
          <th>機種</th>
          <th>価格</th>
        </tr>
      </thead>
      <tbody>
       <% if @games %>
        <% @games.each do |game| %>
        <tr>
          <td></td>
          <td><%= link_to public_game_path(game.id) do %>
              <%= game.game_title %>
              <% end %></td>
          <td><%= game.game_model %></td>
          <td><%= game.price %>円</td>
        <% end %>
       <% end %>
        </tr>
      </tbody>
     </table>
</div>






