<h1>ようこそGame探しへ</h1>
<p>このサイトはテレビゲームのレビューサイトになります。<br>
   会員登録しなくてもゲーム一覧は見れますが、レビュー投稿はできません。<br>
   投稿には会員登録が必要になります。</p>
  新しいゲーム購入前にレビュー見てみませんか？
   <h3><%= link_to "新規登録", new_user_registration_path %></h3>
  <h3><%= link_to "ログイン", new_user_session_path %></h3>

