<h1>クリア後のレビューを投稿する</h1>
<h3>購入、遊ぶ前の投稿内容</h3>
APIでの画像<br>
<%= @review.game.game_title %>
<% @review.tags.each do |tag| %>
    <%= tag.name %>
<% end %>
<h3>購入後、クリア後のレビューを投稿する</h3>
評価<br>
レビュータイトル<br>
レビュー文<br>

