<h3>購入、遊ぶ前のゲーム</h3>
  <% @review.tags.each do |tag| %>
    <% #APIでの画像 %>
    <%= @review.game.game_title %>
    <%= tag.name %>
    <%= link_to "レビューする", edit_public_review_path %>
  <% end %>
<h3>購入後、クリア後のゲーム</h3>
<% #@reviews.each do |review| %>
<% #APIでの画像 %>
<% #review.game.game_title %>
<% #review.review_title %>
<% #review.review_body %>
<%#= link_to "削除する", destroy_public_review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
