*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*★評価*/
.post_form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .post_form input[type='radio']{
    display: none;
  }
  .post_form label{
    position: relative;
    padding: 5px 5px 0;
    color: gray;
    cursor: pointer;
    font-size: 40px; /*星の大きさ*/
  }
  .post_form label .text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px; /*星の上の説明書きの大きさ*/
    color: gray;
  }
  .post_form label:hover,
  .post_form label:hover ~ label,
  .post_form input[type='radio']:checked ~ label{
    color: #ffcc00;
  }
/*　以下一覧ページの評価星用のCSS　*/
  .star-rating {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    font-size: 25px;
  }
  .star-rating-front {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
  }
  .star-rating-back {
    display: inline-block;
    color: #ccc;
  }
  /*各画面のタイトル*/
  .title{
    padding: 10px 0px 10px 10px;
    width: 100%;
    text-align: left;
    color: #FFF;
    text-decoration: underline #FFF;
    background-color: #0099FF;
  }
  /*ヘッダー*/
  .item-list{
    margin: 10px;
    display: flex;
    justify-content: center; /* 中央寄せ */
  }
  .item-list .item{
    box-sizing: border-box;
    padding: 20px 20px;
  }
  .logo{
    margin-top: 30px;
    margin-right: 50px;
    font-size: 48px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    color: #03A9F4;
  }
  span{
    text-decoration: underline;
  }
  .center h3, p {
    text-align: center;
  }

  .game-show{
    padding-top: 50px;
  }
  .user-show:hover{
    /*padding-top: 10px;*/
    background-color:#CCFFCC; 	/*:hoverでリンクにマウスが乗ったら背景色を変更する*/
    border-radius: 10px;
  }

  .no-image-box p{
    text-align:center;
    margin-top: 30px;
    width: 350px;
    height: 350px;
    border: solid 3px #000;
  }
  .heading_border{
    border-top: 2px dotted #000;
  }
  .login{
    margin-bottom: 80px;
  }
  fotter{
    margin-bottom: 100px;
  }
@media screen and (max-width: 425px) {


}