.star{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.star input[type='radio']{
  display: none;
}
.star label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 50px;
}
.star label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.star label:hover,
.star label:hover ~ label,
.star input[type='radio']:checked ~ label{
  color: #ffcc00;
}